#### Module 6 Assignment

Data Science Using Python and R: Chapter 10

For the following exercises, work with the white_wine_training and white_wine_test data
sets. Use either Python or R to solve each problem.

In [1]:
import pandas as pd
from scipy import stats
from sklearn.cluster import KMeans

11 Input and standardize both the training and test data sets.

In [3]:
#Import both datasets: 
wine_train = pd.read_csv("white_wine_training", sep = ',')
wine_test = pd.read_csv("white_wine_test", sep = ',')


#Isolate predictors:
X = wine_train[['alcohol', 'sugar']]
X_test = wine_test[['alcohol', 'sugar']]


#Standardize predictors using z-scores:
Xz = pd.DataFrame(stats.zscore(X), columns=['alcohol', 'sugar'])
Xz_test = pd.DataFrame(stats.zscore(X_test), columns=['alcohol', 'sugar'])

12 Run k‐means clustering on the training data set, using two clusters.

In [4]:
#Kmeans model:
kmeans01 = KMeans(n_clusters = 2).fit(Xz)

#Save clustering membership to it's own variable: 
cluster = kmeans01.labels_

#Separate records into two groups based on cluster membership: 
Cluster1 = Xz.loc[cluster == 0]
Cluster2 = Xz.loc[cluster == 1]

13 Give the mean of each variable within each cluster and use the means to identify a “Dry
wines” and a “Sweet wines” cluster.

In [6]:
#Summary1:
Cluster1.describe()

          alcohol       sugar
count  712.000000  712.000000
mean    -0.755428    0.961034
std      0.580989    0.818726
min     -1.826971   -0.908740
25%     -1.158911    0.354160
50%     -0.908388    0.867883
75%     -0.407343    1.488630
max      2.014374    5.512788

In [7]:
#Summary2:
Cluster2.describe()

           alcohol        sugar
count  1097.000000  1097.000000
mean      0.490305    -0.623752
std       0.905663     0.475694
min      -1.576448    -1.122791
25%      -0.156821    -0.951551
50%       0.427732    -0.844525
75%       1.179299    -0.352208
max       2.891203     1.477928

14 Validate the clustering results by running k‐means clustering on the test data set, using
two clusters, and identifying a “Dry wines” and a “Sweet wines” cluster.

In [9]:
kmeans_test = KMeans(n_clusters = 2).fit(Xz_test)
cluster_test = kmeans_test.labels_ 
Cluster1_test = Xz_test.loc[cluster_test == 0]
Cluster2_test = Xz_test.loc[cluster_test == 1]

In [11]:
#Summary1: 
Cluster1_test.describe()

          alcohol       sugar
count  638.000000  638.000000
mean    -0.802630    1.065341
std      0.561207    0.779670
min     -2.080483   -1.037949
25%     -1.190079    0.396441
50%     -0.947241    1.032518
75%     -0.542512    1.583612
max      1.562080    3.298700

In [12]:
#Summary2:
Cluster2_test.describe()

           alcohol        sugar
count  1122.000000  1122.000000
mean      0.456397    -0.605782
std       0.903287     0.459740
min      -1.675754    -1.089453
25%      -0.218729    -0.945241
50%       0.368129    -0.821632
75%       1.157351    -0.285988
max       2.776268     1.423949